<p>Hello, <%= current_user.email %></p>
<p>Your total spends value: <%= current_user.total_spends_value %></p>
<%= link_to "Log out", destroy_user_session_path, data: { "turbo-method": :delete } %>
<%= link_to "New spend", new_spend_path %>
<%= link_to "Share list", generate_link_url, data: {remote: true, type: "script", method: :post} %>
<div class="shared_link">

</div>

<%= form_for_filterrific @filterrific do |f| %>
  <div>
    Amount by
    <%= f.select(:filter_by_amount, ["desc", "asc"]) %>
  </div>
  <div>
    Category
    <%= f.select(:filter_by_category, Spend.categories) %>
  </div>
  <div>
    <%= link_to(
          'Reset filters',
          reset_filterrific_url,
          ) %>
  </div>
  <%= f.submit 'Filter' %>
  <%= render_filterrific_spinner %>
<%end %>

<% @spends.each do |spend| %>
  <div>
    <%= link_to spend.title, spend_url(spend) %>
    <p>Description: <%= spend.description %></p>
    <p>Amount: <%= spend.amount %></p>
    <p>Category: <%= spend.category %></p>
  </div>
<% end %>