<%= form_for @spend, url: spends_path, method: :post do |f| %>
  <div class="form-group">
    <label for="title">Title</label>
    <%= f.text_field :title, id:"title", class:"form-control" %>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <%= f.text_area :description, id:"description", class:"form-control" %>
  </div>
  <div class="form-group">
    <label for="amount">Amount</label>
    <%= f.number_field :amount, id:"amount", class:"form-control" %>
  </div>
  <div class="form-group">
    <label for="category">Category</label>
    <%= f.select(:category, options_for_select(Spend.categories.map { |key, value| [key.humanize, key] }), {}, {class:"form-control form-control-sm", id:"category"})  %>
  </div>
  <p><%= f.submit "Create", class:"btn btn-primary" %></p>
<% end %>