<div>
  <p>Title: <%= @spend.title %></p>
  <p>Description: <%= @spend.description %></p>
  <p>Amount: <%= @spend.amount %></p>
  <p>Category: <%= @spend.category %></p>
  <%= link_to "Delete", spend_path(@spend), data: { "turbo-method": :delete } %>
  <%= link_to "Edit", edit_spend_path(@spend) %>
</div>